# Jupyter Notebook
.ipynb_checkpoints
.ipynb_checkpoints/
.idea/

# Tensorboard Logs
/runs

# Saved Models
**/weights
**/models
*.pt

# Logfiles
**/logfiles
**/pdfs

# Outputs
**/results
**/figures

# Archives
**/archive
**/experiment_notebooks

# Scratchpads
**/*scratch*

# File Duplicates
**/*-Copy*

# Numpy Pickles
**/*.npy

# Wisteria/OBCX logs
**/*.out
**/*.job
**/*.d00*
**/*.sh.o*
